@import "breakpoints";

.login {
  &__wrapper {
    display: grid;
    grid-template-areas: "form side";
    grid-template-columns: 60% auto;
    width: 100%;
    height: 100vh;

    @include for-desktop-down {
      grid-template-columns: 100% 0;
    }
  }

  &__form {
    grid-area: form;
    background-color: var(--background-color);
  }

  &__side {
    grid-area: side;
    background-color: var(--background-color);

    @include for-desktop-down {
      display: none;
    }
  }
}