@import 'breakpoints';

.dashboard {
  display: grid;
  grid-template-areas:
    "side topnav"
    "side content";
  grid-template-columns: 17.25rem 1fr;
  grid-template-rows: 6rem 1fr;
  height: 100%;
  width: 100vw;
  background-color: var(--primary-light);

  @include for-desktop-down {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-areas:
      "side side"
      "content content"
      "bottomnav bottomnav";
  }

  &__navigation {
    grid-area: side;
  }

  &__mobile-menu {
    grid-area: bottomnav;
  }

  &__top-menu {
    grid-area: topnav;
    background-color: var(--pristine-white);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);

    @include for-desktop-down {
      grid-area: unset;
      display: none;
    }
  }

  &__content {
    grid-area: content;
  }
}