<form [formGroup]="loginFormGroup" class="form__wrapper">
  <div class="form__header">
    <h1 class="form__header form__header--welcome">Sign In</h1>
    <h2 class="form__header form__header--sub-welcome">
      Enter your details below
    </h2>
  </div>

  <div class="form__inputs">
    <au-ui-basic-input
      placeholder="Enter your email"
      label="Email"
      [control]="emailControl"
    ></au-ui-basic-input>
    <au-ui-basic-input
      placeholder="Enter your password"
      label="Password"
      [control]="passwordControl"
    ></au-ui-basic-input>
  </div>

  <div class="form__util">
    <au-ui-checkbox
      label="Remember me"
      formControlName="remember"
    ></au-ui-checkbox>
    <au-ui-simple-button>Forgot password</au-ui-simple-button>
  </div>
  <au-ui-basic-button>Sign in</au-ui-basic-button>

  <div class="form__sign-up">
    Still does not have an account?
    <span tabindex="0" class="form__sign-up--button">Sign Up</span>
  </div>
</form>
