<form [formGroup]="registerFormGroup" class="register-form__wrapper">
  <div class="register-form__header">
    <h1 class="register-form__header register-form__header--welcome">
      Create a new account
    </h1>
    <h2 class="register-form__header register-form__header--sub-welcome">
      {{
        step === 'credentials'
          ? 'Fill out the form below to sign up'
          : 'How are you going to use Aurora?'
      }}
    </h2>
  </div>

  <div *ngIf="step === 'credentials'" class="register-form__inputs">
    <au-ui-basic-input
      placeholder="Enter your email"
      label="Email"
      [control]="getRegisterControl('email')"
    ></au-ui-basic-input>
    <div class="register-form__inputs-password">
      <au-ui-basic-input
        placeholder="Enter your password"
        label="Password"
        type="password"
        [control]="getRegisterControl('password')"
      ></au-ui-basic-input>
      <au-ui-basic-input
        placeholder="Repeat your password"
        label="Repeat password"
        type="password"
        [control]="getRegisterControl('repeatPassword')"
      ></au-ui-basic-input>
    </div>
    <au-ui-basic-input
      placeholder="Enter first name"
      label="First name"
      [control]="getRegisterControl('firstName')"
    ></au-ui-basic-input>
    <au-ui-basic-input
      placeholder="Enter last name"
      label="Last name"
      [control]="getRegisterControl('lastName')"
    ></au-ui-basic-input>
  </div>

  <div *ngIf="step === 'personal'" class="register-form__inputs">
    <div class="register-form__cards">
      <au-ui-basic-card cardName="personal" [(activeCard)]="activeCard">
        <i cardIcon class="gg-user-list"></i>
        <div cardHeader>Personal</div>
        <div cardContent>Write better. Think more clearly. Stay organized</div>
      </au-ui-basic-card>
      <au-ui-basic-card cardName="professional" [(activeCard)]="activeCard">
        <i cardIcon class="gg-align-bottom"></i>
        <div cardHeader>Professional</div>
        <div cardContent>Write better. Think more clearly. Stay organized</div>
      </au-ui-basic-card>
    </div>
    <au-ui-checkbox
      >Accept
      <span class="register-form__link"
        >Terms and Conditions</span
      ></au-ui-checkbox
    >
  </div>

  <div class="register-form__buttons">
    <au-ui-basic-button (click)="proceed()">{{
      step === 'credentials' ? 'Next step' : 'Sign Up'
    }}</au-ui-basic-button>
    <au-ui-outline-button
      *ngIf="step === 'personal'"
      color="primary"
      (click)="return()"
      >Previous Step</au-ui-outline-button
    >
  </div>

  <div class="register-form__sign-in" (click)="goToSignIn()">
    <i class="gg-chevron-double-left"></i>Go back to login screen
  </div>
</form>
