@import 'breakpoints';

.register-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    &__link {
        color: var(--primary-color-deep);
        font-weight: 500;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__inputs-password {
        display: flex;
        gap: 1rem;
    }

    &__wrapper {
        max-width: 25rem;
        min-width: 19rem;

        @include for-desktop-up {
            min-width: 20rem;
        }
    }

    &__buttons {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__header {
        animation-name: show;
        animation-duration: .5s;
        color: var(--dark-color);
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--welcome {
            display: block;
            font-weight: 600;
            font-size: 1.875rem;
            color: var(--primary-color-deep);
        }

        &--sub-welcome {
            font-size: 1rem;
            font-weight: 400;
            color: var(--dark-grey);
        }
    }

    &__inputs {
        margin-top: 2.5rem;
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
        min-width: 19rem;

        @include for-desktop-up {
            min-width: 25.5rem;
        }
    }

    &__cards {
        display: flex;
        gap: 1.5rem;
    }

    &__sign-in {
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;
        margin-top: 2.5rem;
        color: var(--dark-grey);

        &:hover {
            text-decoration: underline;
        }

        &--button {
            font-weight: 600;
            cursor: pointer;
            color: var(--primary-color-deep);

            &:hover {
                text-decoration: underline;
            }

            &:focus {
                text-decoration: underline;
            }
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-.25rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}