:root {
    // BACKGROUND COLORS
    --background-color: #F8F8F8;
    --pristine-white: #FAFAFA;

    // PRIMARY COLORS
    --primary-color-deep-text: #1A2932;
    --primary-color-deep: #213B49;
    --primary-color: #3B5D70;
    --primary-light: #ECF1F4;
    --primary-medium-light: #93AEBD;
    --primary-medium-lighter: #CFDCE3;
    --primary-medium-lightest: #DAE0E3;

    // DARK COLORS
    --dark-color: #303030;
    --dark-grey: #6B6B6B;
    --medium-grey: #939393;
    --light-grey: #D3D3D3;

    // WARNING COLORS
    --warning-color: #DFCF97;

    // ERROR COLORS
    --error-color: #D44747;

    // SUCCESS COLORS
    --success-color: #49CE7F;
}