:root {
    // BACKGROUND COLORS
    --background-color: #F8F8F8;

    // PRIMARY COLORS
    --primary-color-deep: #213B49;
    --primary-color: #3B5D70;
    --primary-light: #ECF1F4;

    // DARK COLORS
    --dark-color: #303030;
    --dark-grey: #6B6B6B;
    --medium-grey: #939393;
}